<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.cry.mini.springframework.examples.ibatis.UserDao">
    <select id="getUserInfo" parameterType="java.lang.Integer" resultType="com.cry.mini.springframework.examples.jdbc.User">
        select id, name,birthday
        from user
        where id=?
    </select>
</mapper>